.images img{
    width: 100%;
}

.thumbnail img{
    width: 100%;
    max-height: 650px;
    background-size: cover;
    background-position: center center;
}

.thumbnail {
    padding:0;
}

.thumbnail .caption-full {
    padding:9px;
}

.deleteForm {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

